.navbar {
    background: transparent !important;  /* Makes navbar transparent */
}



.navbar .navbar-brand {
    color: #ff3c00 !important;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}


.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler-icon {
    filter: invert(1); /* Makes toggler icon visible on dark backgrounds */
}

