.analysis-table[b-0eieh0j5ur] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

.analysis-table th[b-0eieh0j5ur], .analysis-table td[b-0eieh0j5ur] {
    padding: 12px;
    border: 1px solid #333;
    text-align: center;
}

.analysis-table th[b-0eieh0j5ur] {
    background-color: #20232a;
    color: #61dafb;
}

.compare-table th[b-0eieh0j5ur] {
    background-color: #333;
    color: #f0f0f0;
}

.compare-table td[b-0eieh0j5ur] {
    padding: 10px;
}
