@page "/edit-plans"
@using ASP.Models
@inject PlanService PlanService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Edit Plans</h3>

@if (plans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var plan in plans)
        {
            <li style="margin-bottom: 10px;">
                @plan.PlanName
                <FluentButton style="margin-left: 10px;" Appearance="Appearance.Accent" @onclick="() => EditPlan(plan.Id)">Edit</FluentButton>
            </li>
        }
    </ul>
}

@code {
    private List<Plan> plans;

    protected override async Task OnInitializedAsync()
    {
        plans = await PlanService.GetPlansAsync();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrEmpty(userId))
        {
           
            plans = new List<Plan>();
        }
        else
        {
            plans = await PlanService.GetPlansAsync();
            plans = plans.Where(p => p.OwnerId == userId).ToList();

        }

    }

    private void EditPlan(int planId)
    {
        NavigationManager.NavigateTo($"/edit-plan/{planId}");
    }
}
