@page "/Register"

<h3>Register </h3>
<p>
    To register, please click 
    <a href="/Identity/Account/Register">here</a>.
</p>
<p>

    To login, please click
    <a href="/Identity/Account/Login">here</a>.
</p>