/* _content/ASP/Components/Pages/ComparePlans.razor.rz.scp.css */
.analysis-table[b-lz5ln8i81q] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

.analysis-table th[b-lz5ln8i81q], .analysis-table td[b-lz5ln8i81q] {
    padding: 12px;
    border: 1px solid #333;
    text-align: center;
}

.analysis-table th[b-lz5ln8i81q] {
    background-color: #20232a;
    color: #61dafb;
}

.compare-table th[b-lz5ln8i81q] {
    background-color: #333;
    color: #f0f0f0;
}

.compare-table td[b-lz5ln8i81q] {
    padding: 10px;
}
